/* Page */
$white: #fff;
$dark-gray: #555;
$banner-blue: #00a4bd;

/* Exercise 1 - Testimonial Block - Taken from included image */
$exercise-1-background: #F9F8F7;
$button-blue: #00A3E1;
$hubspot-orange: #FF6C01;

/* Exercise 1 - Filter - Taken from converted gif */
$light-gray: #ccc;