body {
    margin: 0;
    font-family: 'Roboto Slab', 'Montserrat', sans-serif;
    color: $dark-gray;
  }
  .exercise-header {
    padding: 1rem 0;
    text-align: center;
    color: $white;
    background-color: $banner-blue;
  }